
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body {
  	font-family: 'Lato'; 
	background-color: white;
	color: #F7F3E9;
	font-size: 1.4em;
}

div {
 width: 320px;
  margin:0 auto;
  padding: 30px;
  text-align: center;	
  background-color: #404040;
  height: 470px;

}

.background {
	background-color: black;
}

.person{

}
.home{
  background-image: url('building8.png');
}
.road{
  background-image: url('road16.png');
}

.quiz{
  background-color: #3C64BA;
  width: 150px;
  height: 150px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 0px;
}
.data{
 background-color: #719BF5;
  width: 100px;
  height: 100px;
  margin-left: 180px;
  margin-top: 0px;
}

.btn-circle.btn-xl {
  padding: 70px 70;
  border-radius: 50px;
  font-size: 40px;
  line-height: 1.33;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.standard {
  width: 100px;
  height: 100px;	
}
.rating {
  background-color: #3CBA53;
  width: 180px;
  height: 180px;
  margin-top: 10px;
  margin-left: 70px;
  margin-bottom: 0px;
}