<div class="background">
	<p>
		<a href="/crime_data">
			<button type="button" class="btn btn-warning btn-circle btn-xl standard">
				<i class="fa fa-user"></i>
			</button>
		</a>
	</p>
	<p>
		<a href="/crime_data">
			<button type="button" class="btn btn-warning btn-circle btn-xl standard">
				<i class="fa fa-building"></i>
		    </button>
		</a>
	</p>
	<p>
		<a href="/crime_data">
			<button type="button" class="btn btn-warning btn-circle btn-xl standard">
				<i class="fa fa-road"></i>
		    </button>
		</a>
	</p>
</div>
  