<div class="background">

	<p>
		<button type="button" class="btn btn-warning btn-circle btn-xl standard">
			<i class="fa fa-user"></i>
		</button>
  </p>
	<p>
		<button type="button" class="btn btn-warning btn-circle btn-xl standard">
			<i class="fa fa-building"></i>
    </button>
  </p>
	<p>
		<button type="button" class="btn btn-warning btn-circle btn-xl standard">
			<i class="fa fa-road"></i>
    </button>
  </p>
</div>
  