<div class="background">
	<p>
		<a href="/crime_data/show">
			<button type="button" class="btn btn-#{@colour} btn-circle btn-xl rating">
			LOW RISK!<br>...tell me more! 
			</button></p>
		</a>
	<p>
		<a href="/quizzes">
			<button type="button" class="btn btn-primary btn-circle btn-xl quiz">
			take me to the<br>QUIZ!
    		</button>
    	</a>
  	</p>
	<p>
		<a href="/crime_data/data">
			<button type="button" class="btn btn-info btn-circle btn-xl data">
			show me the<br>DATA!</i>
		    </button>
		</a>
  </p>
</div>

