<div class="background">
  <p>
    <a href="/crime_data/show">
      <button type="button" class="btn btn-<%=@risk_rating%> btn-circle btn-xl rating">
        LOW RISK!<br>
        ...tell me more! 
      </button>
    </a>
  </p>
  <p>
    <%= link_to(quizzes_path) do %>
      <button type="button" class="btn btn-primary btn-circle btn-xl quiz">
        take me to the<br>
        QUIZ!
        </button>
    <% end %>
  </p>
  <p>
    <%= link_to(crime_data_data_path) do %>
      <button type="button" class="btn btn-info btn-circle btn-xl data">
        show me the<br>
        DATA!</i>
    </button>
  <% end %>
</p>
</div>