<div class="background">
  <h1 class="btn btn-<%= @risk_rating %> btn-xl">
    <%= @risk_sentence %>
  </h1>
  <br>
  <p class="tip">
   <%= @crime_datum.tip1 %>
  </p>
  <br>
  <br>
  <p>
    <%= link_to(crime_data_path) do %>
      <button type="button" class="btn btn-warning btn-circle btn-xl small"><i class="fa fa-arrow-right"></i>
      </button>
    <% end %>
  </p>
</div>